html {
  scroll-behavior: auto !important;
}
body {
  padding: 0px;
}
.paddingzero {
  padding: 0px;
}
header {
  width: 100%;
  display: flex;
  height: 90px;
  align-items: flex-end;
  background: red;
}
nav {
  width: 100%;
}
.btn_hover {
  color: black;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.5s;
  color: black;
  justify-content: space-between;
  margin: 10px;
}
.btn_hover:hover {
  padding: 4px 5px;
  background-color: #ee703b;
  border-radius: 15px;
  color: black;
}
.btn_dropdown_style {
  transition: all 0.5;
}

.btn_dropdown_style:hover {
  padding: 2px 2px;
  background-color: #ee703b;
  border-radius: 15px;
  color: black;
  text-align: center;
}

.carousel-inner img {
  height: 50%;
}

.img_body {
  width: 100%;
  height: 100%;
  padding: 2%;
}
.section-2 {
  padding: 5%;
  display: flex;
  width: 100%;
  height: auto;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center top;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.card {
  display: block;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  transition: box-shadow 0.25s;
  text-align: left;
  margin: 2%;
  color: black;
  padding-bottom: 20px;
  width: 350px;
}
.card-title {
  text-align: center;
  font-weight: bold;
  color: 072e5d;
  padding-top: 5px;
  padding-bottom: 10px;
  color: black;
}
.card-text{
  color: black;
}
.card:hover {
  box-shadow: 0 8px 17px 0 black, 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card-subtitle {
  color: black;
  font-weight: bold;
}
.section-3 {
  width: 100%;
  height: auto;
  padding-top: 8%;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center top;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background: #0d82b8;
}
.section-4 {
  width: 100%;
  height: 50vh;
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-position: center top;
  position: relative;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  background: #444;
}
.contact-section-title {
  text-align: center;
  font-weight: bold;
  color: 072e5d;
  padding-top: 5px;
  padding-bottom: 10px;
  color: white;
}
.decoration-hr{
  color: white;
}
.footer {
  background: #444;
  color: #fff;
  text-align: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}
