html {
    scroll-behavior: auto !important;
  }
  body {
    padding: 0px;
  }
  .paddingzero {
    padding: 0px;
  }
  header {
    width: 100%;
    display: flex;
    height: 90px;
    align-items: flex-end;
    background: red;
  }
  nav {
    width: 100%;
  }
  .btn_hover{
    color: black;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.5s;
    color: black;
    justify-content: space-between;
    margin: 10px;
  }
  .btn_hover:hover{
    padding: 4px 5px;
    background-color: #ee703b;
    border-radius: 15px;  
    color: black;
  }
  .btn_dropdown_style{
    transition: all 0.5;
  }

  .btn_dropdown_style:hover{
    padding: 2px 2px;
    background-color: #ee703b;
    border-radius: 15px;  
    color: black;
    text-align: center;
  }
  
  .carousel-inner img {
    height: 50%;
  }
  .section-2 {
    padding-top: 12%;
    padding-bottom: 8%;
    display: flex;
    width: 100%;
    height: 90vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center top;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background: #ff7c38;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .card-title{
    text-align: center;
    font-weight: bold;
    color: white;
    padding-top: 5px;
    padding-bottom: 10px;
  }
  .card {
    display: block;
    line-height: 1.42857143;
    background-color: #072e5d;
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    transition: box-shadow .25s;
    text-align: left;
    margin-left: 2%;
    margin-right: 2%;
    color: white;
}
  .card:hover{
    box-shadow: 0 8px 17px 0 white,0 6px 20px 0 rgba(0,0,0,0.19);
  }
  .card-subtitle{
    color: white;
    font-weight: bold;
    padding-left: 15px;
  }
  .section-3 {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center top;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    background: #0d82b8;
    justify-content: center;
  }
  .divuno {
    background-color: red;
    height: 200px;
    width: 400px;
  }
  .divdos {
    background-color: blue;
    height: 200px;
    width: 400px;
  }
  .section-4 {
    width: 100%;
    height: 100vh;
    background-attachment: fixed;
    background-repeat: repeat-y;
    background-position: center top;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background: #b80d57;
  }
  .footer {
    background: #444;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
